
@import "table.css";
@import "utils.css";
@import "auth.css";

/* Enroll Page */
.enroll label , legend {
    color:#f0f0f0;
}

section.enroll{
    background-color: rgba(98, 92, 85, 0.9)!important;
}




/* General card styles */

.info-card{
    min-height: 400px;
}

.card-fields {
    width:50%;
    float:left;
    margin-top:16px;
}

.info-span {
    float: left;
    width: 220px;
    font-weight: 500;
}

.info-value {
    float: left;
    width: 370px;
}

.title-card{
    font-size: 20px;
    float:left;
    color:#dad3d3;
}

.actions-card {
    float: right;
}
.header-card{
    height: 50px;
    width: 100%;
}

.header-card > div > a{
    color: #dad3d3;
    text-decoration: none;
}

.register-delete .title-card {
    float:left;
    width: 100%;
}

/* End general card styles */


/* input actions container */

.input-actions {
    margin-top:40px;
    float: right;
    width: 90%;
}

.input-actions div{
    float: right;
    color:#fff;
    margin: auto 10px;
}

/* end container actions*/

form.delete p {
    margin:auto;
}


/* Drop down menu */

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    /* background-color: red; */
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 35px;
    width: 306px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .user-menu {
    width: 306px;
  }

  .user-menu .img {
      float:right;
  }

  .user-menu .username{
    font-size: .9rem;
    font-weight: 800;
    float:left;
    /* margin-top: -7px;*/
  }
/* Fín estilos del Nav */