
.btn-tooltip {
    position: relative;
    display: inline-block;
    margin: 12px 0px;
    
}

.btn-tooltip .btn-tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #55555585;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-top: 32px;
}

.btn-tooltip:hover .btn-tooltiptext {
    visibility: visible;
}

.info-card {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-bottom: 1.5rem;
    background-color: var(--white);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    border-radius: .5rem;
    border: 0 solid var(--black);
}

.boton-ation {
    color:#808080;
    text-decoration: none;
    background-color: transparent;
}

a:hover.tooltip {
    color:#808080;
    text-decoration: none;
    background-color: transparent;
}

/* Notifications */

.notification {

    width: 100%;
}

.notification p{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding-right: 35px;
    width: 90%;
}


.success p {
    color: green;
    background: lightgreen;
    border-color: #ebccd1;
    opacity: 1;

}

.error p {
    color: red;
    background: pink;
    border-color: #ebccd1;
    opacity: 1;
}